/auto-save-list
/cache
/elpa*
/.lsp*
/custom.el
*~
/transient
/projectile*
/places
/elpy/
/tramp
/network-security.data
/url
/server
/var
/etc
/eln-cache/
/straight
/.cache/
/.dap-breakpoints
/ido.last
/recentf
/projects
flycheck_init.el
/*.elc
/tree-sitter/
/quelpa/
/history
/backups
/bookmarks
/snippets
/anaconda-mode/
*.swp
/emacs-reveal-submodules/
lisp/flycheck_init-programing.el
